<div>

  <nav class="navbar navbar-expand-sm bg-primary navbar-dark" >
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="../inventory" class="nav-link" routerLinkActive="active">Inventory </a>
      </li>
      <li class="nav-item">
        <a routerLink="../sales" class="nav-link" routerLinkActive="active">Sales</a>
      </li>
      <!--<li class="nav-item">-->
        <!--<a routerLink="../appointment" class="nav-link" routerLinkActive="active">Appointment View</a>-->
      <!--</li>-->

    </ul>
  </nav>


</div>
