<span style="text-align: center;font-weight: bold"> Sales Summary</span>
<ng2-smart-table [settings]="settings" [source]="data"></ng2-smart-table>
<br>
<br>
<div class="container-fluid">
  <span style="text-align: center;font-weight: bold"> Sales Report</span>

  <div class="row">
    <div class="col">
      <div style="" >
        <app-bar-chart></app-bar-chart>

      </div>

    </div>
    <div class="col">
      <div style=" ">
        <app-line-chart></app-line-chart>
      </div>
    </div>
  </div>
</div>
